.buybutton_style{
    background: #47372F;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.buybuttonMiddle_style{
    background: #A39D90;
    font-weight: bold;
    border: none;
}