.buybutton_style{
    background: rgb(44, 62, 80);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.buybuttonMiddle_style{
    background: rgb(44, 62, 80);
    font-weight: bold;
    border: none;
}

.buybuttonMiddle_style:disabled{
    background: rgb(44, 62, 80);
}