.tableForm{
    width: 80%;
    margin: auto;
    margin-top: 35vh;
}

.paymentButtonForm{
    display: flex;
    justify-content: flex-end;
}

.paymentButton{
    background: rgb(44, 62, 80);
    font-weight: bold;
    border: none;
    border-radius: 0.8vw;
}

.paymentButton:hover{
    background: rgba(44, 62, 80,0.8);    
}