.tableForm{
    width: 80%;
    margin: auto;
    margin-top: 35vh;
}

.paymentButtonForm{
    display: flex;
    justify-content: flex-end;
}

.paymentButton{
    background: #47372F;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.paymentButton:hover{
    background: #D0C0B0;    
}