.selectPage {
  text-align: center;
  justify-content: "center";
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
	font-weight : bold;
	text-align: center;
}

.title{
	margin-top: 5vh;
	margin-bottom: 5vh;
}