.rentButton{
    background: rgb(44, 62, 80);
    font-weight: bold;
    border: none;
}

.rentButton:hover{
    background: rgba(44, 62, 80,0.9);
}

.rentButton:focus{
    background-color: rgba(44, 62, 80,0.9);
}


.clickedRentButton{
    font-weight: bold;
}

.clickedRentButton:disabled{
    background: rgba(44, 62, 80);
}