body {
    background-color: white;
}

/*your code here*/
h1 {
	
	font-weight : bold;
	text-align: center;
}

.title {
	font-size: 40px;
	color: rgb(0, 0, 0);
	margin: 50px auto;
	text-align: center;
	text-transform: capitalize;
}

.form {
	width: 1200px;
	height: 540px;
	background: #C4C4C4;
	margin: 0 auto;	
}

.buttons{
	float: left;
}

.select{
	background-color: #C4C4C4;
	border:none;
	background: #666666;
	font-size:1em;
	color: white;
	outline:none;
	display:inline;
	box-sizing: border-box;
	/* position: relative; */
}

.select:hover{
	background-color: #C4C4C4;
	color: black;
}