body {
    background-color: #eee;
}

/*your code here*/
h1 {
	
	font-weight : bold;
	text-align: center;
}

.tab{
    overflow: hidden;
    border : 1px solid blue;
    background-color : blue;
}

.tablinks{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font: 600 16px Lato, sans-serif;
}

.tablinks:hover{
    background-color: gainsboro;
}

.active{
    background-color: black;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #426756;
    border-top: none;
}

#image{
    width:300px;
    height:300px;
}