.utensilsForm{
    background: #D8CFBE;
    display:flex;
    align-items: center;
    height: 60vh;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.utensil{
    margin: auto;
    font-size: 1rem;
}


.selected{
    border: 10px solid #77E7E0;
}

.noSelected{
    border: none;
}