.categoryForm{
    width: 80%;
}

.category_buttonForm{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}

.login_buttonStyle{
    width: 10vw;
    height: 8vh;
    margin: auto;
	border:none;
	border-radius: 15px;
	background: #47372F;
	font-size:1.2vw;
	color: white;
	outline:none;
	position: relative;
}