.proceed-button{
    display:flex;
    width:100%;
    height:50px;
    background: rgb(44, 62, 80);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
}

.body-container{
    display: flex	;
    position:relative;
    flex-flow: column wrap;
    /* border: 3px solid black; */
    height: 500px;
}

.menu-info-container{
    /* border:5px solid black; */
    height:100%;
    width:35%;
    float:left;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#border-left{
    border-right: 1px solid rgba(128, 128, 128, 0.205);
    position: absolute;
    top: 8.2%;
    bottom: 3%;
}

.description-container{
    /* border:5px solid black; */
    height:100%;
    width:65%;
    float:left;  
}

.square{
    width:60%;
}

.square:after{
    content:'';
    display:block;
    padding-bottom:100%;
}

#photo-box{
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
    height:45%;
    overflow:hidden;
    position:relative;
}

#level{
    display:flex;
    width:50%;
    height:100%;
    color:whitesmoke;
    font-size:0.9vw;
    font-weight: 700;
    margin:5px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;   
}

#exp{
    display:flex;
    width:50%;
    height:100%;
    background-color:rgba(40, 40, 53, 0.774);
    color:whitesmoke;
    font-size:0.9vw;
    font-weight: 700;
    margin:5px;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw; 
}

#lvl-exp-container{
    width:85%;
    height:12%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding:3px;
}

#food-name{
    width:95%;
    display: flex;
    margin-bottom:35px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5vw;
    /* border: 3px solid black; */
}

#reviews{
    height:430px;
    overflow-y: scroll;
}

.review-post{
    width:90%;
    height:8.5vw;
    margin:0 auto;
    margin-top: 25px;
    margin-bottom:25px;
    border: 1px solid rgba(128, 128, 128, 0.288);
}

.background-red{
    background-color: #c0392b;
}
.background-yellow{
    background-color:#f39c12;
}
.background-green{
    background-color: #27ae60;
}

#information{
    display:flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    height:50%;
    position: relative;
    overflow-y: hidden;
    text-align:center;
    padding:25px;
}

#recipes{
    display:flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    height:430px;
    position: relative;
    overflow-y: scroll;
    text-align:center;
    padding:25px;
}

#extra-utensils{
    font-size: x-large;
    font-weight: 600;
    padding-top: 25px;
}