body {
    background-color: #ffffff;
}

/*your code here*/
h1 {
	
	font-weight : bold;
	text-align: center;
}

.headerBar{
	width:100%;
	height:50px;
	background-color: #c4c4c4;
}

.userProfile{
	text-align:left;
}

#titleLogo{
	font-size:2vw;
	vertical-align:middle;
}

#userImg{
	max-width: 40px;
	width:auto;
	height: auto;
	float: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}