.accountbox{
    width: 30%;
    margin: auto;
}

.account_boxForm{
    display: flex;
    flex-direction: column;
    background: #D8CFBE;
    height: 45vh;
    border-radius: 2vw;
}

.account_inputboxForm{
    margin: auto;
	font-size: 1.3vw;
	font-weight: bold;
}

.account_buttonForm{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
}