.accountbox{
    width: 40%;
    margin: auto;
}

.account_boxForm{
    margin: auto;
    background: #D8CFBE;
    height: 60vh;
    border-radius: 2vw;
}

.account_inputboxForm{
    margin-top: 5vh;
    margin-left: 8vw;
    display: inline-block;
	font-size: 1.3vw;
	font-weight: bold;
}

.account_buttonForm{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
}